<h3>Month</h3>

<%=month_calendar  events: @events do |date,events| %>
  <p class="month-day">
    <%= date.day %>
   </p>
  <% events.each do |event| %>
    <ul class="calendar-list">
      <li>
				<%= link_to event.user.name, employee_path(event.user.id) %>
      </li>
      <% if current_user.has_role? :admin %>
      <li>
        <%= link_to "delete", event_path(event.id), method: :delete %>
        <%= link_to "edit", edit_event_path(event.id)%>
        <%= link_to "new", new_event_path%>
      </li>
    <% end %>
    <li>
      <a href="/events.pdf">this months pdf</a>
    </li>
    </ul>
    <% end %>
<% end %>
